PORT=port 
DATABASE_URL="postgresql://admin:123456@localhost:5432/driversappdb?schema=public"

# Email configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
EMAIL_FROM=noreply@yourdomain.com
APP_URL=http://localhost:3000
