PORT=port 
DATABASE_URL="postgresql://admin:123456@localhost:5432/driversappdb?schema=public"

# Brevo Email API
BREVO_API_KEY=your-brevo-api-key
EMAIL_FROM=no-reply@yourapp.com
EMAIL_FROM_NAME=DriveApp
APP_URL=http://localhost:3000
