PORT=port 
DATABASE_URL="postgresql://admin:123456@localhost:5432/driversappdb?schema=public"

# Brevo Email API
BREVO_API_KEY=your-brevo-api-key
EMAIL_FROM=no-reply@yourapp.com
EMAIL_FROM_NAME=DriveApp
APP_URL=http://localhost:3000

# Firebase Storage
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FIREBASE_STORAGE_BUCKET=your-project.appspot.com
